/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */
@import '../../node_modules/bootstrap/scss/functions';
@import 'variables';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import 'mixins';

.page-item {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  min-width: 34px !important;
  text-align: center;
}

.disabled-page-link {
  pointer-events: none;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.active-page-item {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.page-item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
  cursor: pointer;
  border: 1px solid #D7DFE6 !important;
}

.active-page-item:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #D7DFE6 !important;
}

.form-col {
  margin-top: 13px;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.form-col label {
  margin-bottom: -3000px;
  font-size: 13px;
}

.form-group {
  margin-left: 16px;
  margin-right: 16px;
}

.input-group button {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.form-control {
  background-color: #f5f5f5 !important;
}

.center {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.table-pre-header {
  margin-top: 8px;
  margin-bottom: 20px;
}

.table-post-item {
  margin-top: 30px;
}

.table-action {
  float: right;
  margin-right: 8px;
  min-width: 162px;
}

.table-search {
  width: 400px !important;
}

.table-item-count {
  float: left;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.4);
}

.pagination {
  margin-top: 25px;
}



.vue-simple-suggest > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vue-simple-suggest.designed {
  position: relative;
}

.vue-simple-suggest.designed, .vue-simple-suggest.designed * {
  box-sizing: border-box;
}

.vue-simple-suggest.designed .suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  top: calc(100% + 5px);
  border-radius: 0.5rem;
  border: 1px solid #f3f3f3;
  background-color: #fcfcfc;
  opacity: 1;
  z-index: 1000;
}

.vue-simple-suggest.designed .suggestions .suggest-item {
  cursor: pointer;
  user-select: none;
}

.vue-simple-suggest.designed .suggestions .suggest-item,
.vue-simple-suggest.designed .suggestions .misc-item {
  padding: 5px 10px;
}

.vue-simple-suggest.designed .suggestions .suggest-item.hover {
  background-color: #b4b4b4 !important;
  color: #fff !important;
  border-radius: 0.5rem;
  border: 1px solid #f3f3f3;
}

.vue-simple-suggest.designed .suggestions .suggest-item.selected {
  background-color: #919191 !important;
  color: #fff !important;
  border-radius: 0.5rem;
  border: 1px solid #f3f3f3;
}

@media only screen and (max-width: 960px) {
  .table-search {
    width: 200px !important;
  }

  .sidebarStatic {
    position: fixed !important;
  }
}

@media only screen and (max-width: 720px) {
  .table-action {
    float: right;
    margin-right: 1.5% !important;
    margin-bottom: 15px !important;
    width: 97%;
  }

  .table-action:first-child {
    float: right;
    margin-right: 0px;
  }

  .table-search {
    width: 100% !important;
  }
}
