// app global css in SCSS format
.slixx-pad-5 {
  padding: 5px;
}

.slixx-pad-trl-15 {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.right {
  float: right;
  right: 0px;
}

.card-header-section {
  height: 60px;
}

.action {
  width: 133px;
  font-size: 13px;
  padding: 1px 25px;
}

.btn-group > .q-btn:not(:last-child) {
  border-right: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .q-btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 600px) {
  .btn-group > .action {
    margin-top: 3px;
    width: 100%;

    border-radius: 3px !important;
  }
}

/* Breite und Höhe des Scrollbalkens */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Hintergrund des Scrollbalkens */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Farbe des Scrollbalken-Daumens (Griff) */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Hover-Effekt für den Scrollbalken-Daumen */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.right-side-dialog-container {
  height: 100%;
  min-width: 450px;
  overflow-y: scroll;
  scrollbar-width: thin !important;
  margin-right: 15px;
}

@media (max-width: 640px) {
  .q-table__control {
    display: block;
  }
  .q-table__control .q-field {
    margin-top: 10px;
    width: 100%;
  }
  .q-table__card .q-table__top, .q-table__card .q-table__bottom {
    display: block;
  }
  .q-table__control .action-header {
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  .q-table__control .action-header button {
    float: right;
    margin-right: 15px;
  }
}
